{% extends "base.html" %}
{% load static %}
{% load poll_extras %}
{% block title %}
    {{ tours_detail.name_tour }}
{% endblock %}
{% block content %}
    <div style="display: flex;">
        <div>
            <img style="width: 470px; height: 310px;"
                 src="{% if detail_img %}{{ detail_img }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </div>
        <div style="margin-left: 100px">
            <h1>{{ tours_detail.name_tour }}</h1>
            <p>Маршрут:</p>
            <div style="display: flex">
                {% for state in station %}
                    <p>->{{ state.nametown.nametown }}</p>
                {% endfor %}
            </div>
            <p class="price">Стоимость тура: {{ route.costofroute }} ₽</p>
            <form class="cart" action="{% url "cart:cart_add" tours_detail.id_tour %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input style="margin-top: 10px;" type="submit" value="Добавить в корзину">
            </form>
        </div>
    </div>
    <div>
        <p>Описание тура:</p>
        {{ file_content|linebreaks }}
    </div>
    <div style="display: flex;margin-top: 100px;">
        {% for n in count_hotel %}
            <div>
                <img style="width: 300px; height: 200px;margin-left: 10px" src="{{ img_hotel|dict_value_or_null:n }}">
                <p style="text-align: center"><a href="{{ idhotel|get_url:n }}"> {{ idhotel|get_name_hotel:n }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}