{% extends "base.html" %}
{% load static %}
{% load poll_extras %}
{% block title %}
    {{ hotel_detail.nametype }}
{% endblock %}
{% block content %}
    <div class="left_margin_content">
        <div style="display: flex; margin-top: 85px;">
            <div>
                <img style="width: 470px; height: 310px;"
                     src="/static/toursimage/image_hotel/{{ hotel_detail.image_hotel }}">
            </div>
            <div style="margin-left: 100px">
                <h1>{{ hotel_detail.nametype }}</h1>
                <p>Комфортность отеля: {% for st in star %}
                    <img style="width: 23px; height: 23px;"
                         src="/static/toursimage/image_hotel/star_hotel.png">{% endfor %} </p>
                <p>Описание отеля:</p>
                {{ file_content|linebreaks }}
            </div>
        </div>
    </div>>
{% endblock %}