<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/basestile.css" %}">
    <link rel="stylesheet" href="{% static "angularjs/dist/angular-slick.js" %}">
    <link rel="stylesheet" href="{% static "angularjs/slick.js" %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-messages.min.js"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css"/>
</head>
<body>
<div id="header">
    <span class="logo">Турфирма</span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'main' %}class="selected"{% endif %}>
                <a href="{% url 'main' %}">
                    {% if section == 'main' %}
                        Главная
                    {% else %}
                        На главную!
                    {% endif %}
                </a>
        </ul>
    {% else %}
        <ul class="menu">
            <li {% if section == 'main' %}class="selected"{% endif %}>
                <a href="{% url 'main' %}">
                    {% if section == 'main' %}
                        Главная
                    {% else %}
                        На главную!
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            <p class="welcome"> Добро пожаловать {{ request.user.first_name }}
            <span class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Избранные:
                    <a href="{% url "cart:cart_detail" %}">
                          {{ total_items }}
                        {% if total_items > 1 %}
                            тура
                        {% else %}
                        тур
                        {% endif %},

                           {{ cart.get_total_price }}₽
                            </a>
                {% else %}
                    У вас нет заказов
                {% endif %}
            {% endwith %}
            </span>
            <div class="registration"><a href="{% url 'logout' %}">Выйти</a></div>
            </p>
        {% else %}
            <div class="login"> <a href="{% url 'login' %}">Войти</a> </div>
            <div class="registration"> <a href="{% url 'register' %}">Регистрация</a></div>
        {% endif %}
        </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
</body>
</html>